@font-face {
  font-family: "Roboto-Bold";
  src: url("/src/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/src/fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/src/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #08020d;
  font: normal 16px/1.5 "Roboto", sans-serif;
  color: #cacaca;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.banner {
  width: 100%;
  background-image: url("/src/images/banner.png");
  background-position: center;
  background-size: cover;
}

.logo {
  width: 24px;
  height: 24px;
}

.logo-text {
  white-space: nowrap;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4.5fr 1.5fr;
      grid-template-columns: 1fr 4.5fr 1.5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-top: 24px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.nav-item {
  color: #cacaca;
}

.nav-item:hover {
  color: #FFFFFF;
}

.search-input {
  width: 100%;
  min-width: 248px;
  height: 25px;
  background: #3C3B3D;
  border: none;
  border-radius: 50px;
  font-size: 13px;
  color: #757575;
  padding-left: 10px;
}

.search-input:focus {
  outline: none;
}

#page-description {
  padding-top: 150px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.header-h1 {
  font: bold 60px/90px "Roboto-Bold", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.header-h2 {
  font: bold 38px/57px "Roboto-Bold", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 31px;
}

.page-description {
  margin-bottom: 18px;
  font: normal 16px/1.5 "Roboto", sans-serif;
  color: #FFFFFF;
  text-align: center;
}

.form-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, auto))[2];
      grid-template-columns: repeat(2, minmax(270px, auto));
  -ms-grid-rows: 50px 57px;
      grid-template-rows: 50px 57px;
  gap: 1.5rem 1.5rem;
  max-width: 570px;
  margin: 0 auto;
}

.form-grid input::-webkit-input-placeholder {
  font: bold 14px "Roboto", sans-serif;
  color: #FFFFFF;
}

.form-grid input:-ms-input-placeholder {
  font: bold 14px "Roboto", sans-serif;
  color: #FFFFFF;
}

.form-grid input::-ms-input-placeholder {
  font: bold 14px "Roboto", sans-serif;
  color: #FFFFFF;
}

.form-grid input::placeholder {
  font: bold 14px "Roboto", sans-serif;
  color: #FFFFFF;
}

.header-input {
  padding-left: 20px;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  font: bold 14px "Roboto", sans-serif;
  color: #FFFFFF;
}

.header-input:focus {
  outline: none;
}

.header-button {
  grid-column: span 2;
  padding: 0;
  background: #34C176;
  border: none;
  font: normal 13px "Roboto", sans-serif;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header {
    -webkit-column-gap: 45px;
            column-gap: 45px;
  }
}

@media screen and (max-width: 800px) {
  .search-input {
    min-width: 148px;
  }
}

@media screen and (max-width: 711px) {
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    row-gap: 18px;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 597px) {
  #page-description {
    padding-top: 81px;
  }
  .nav {
    position: relative;
    top: 0;
    left: 0;
    font-weight: bold;
  }
  .header-h1 {
    font: bold 30px/45px "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }
  .header-h2 {
    font: bold 18px/27px "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 14px;
  }
  .form-grid {
    -ms-grid-columns: minmax(auto, 1fr);
        grid-template-columns: minmax(auto, 1fr);
    -ms-grid-rows: 50px 50px 57px;
        grid-template-rows: 50px 50px 57px;
  }
  .header-button {
    grid-column: span 1;
  }
}

#page-pricing {
  padding-top: 98px;
  text-align: center;
}

.bg-free {
  background-image: url("/src/images/subscribe_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-standart {
  background-image: url("/src/images/subscribe_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-premium {
  background-image: url("/src/images/subscribe_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pricing-h2 {
  font: bold 38px/57px "Roboto-Bold", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 50px;
}

.pricing-h3 {
  font: normal 24px/36px "Roboto", sans-serif;
  margin-bottom: 194px;
  padding-top: 24px;
}

.pricing-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 45px;
  width: 100%;
  margin-bottom: 39px;
}

.pricing-item {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.pricing-item a {
  padding-top: 19px;
  font: normal 16px/1.5 "Roboto", sans-serif;
  color: #FFFFFF;
}

.pricing-value {
  margin-bottom: 36px;
  font: normal 64px "Roboto", sans-serif;
}

.pricing-value sup {
  font: normal 32px/1em "Roboto", sans-serif;
  margin-left: 16px;
}

.pricing-footer {
  padding: 64px 0;
  font: normal 13px/1.5 "Roboto", sans-serif;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .pricing-h3 {
    margin-bottom: 50%;
  }
  .pricing-footer {
    padding: 32px 0;
  }
  .pricing-cards {
    gap: 40px;
  }
}

@media screen and (max-width: 845px) {
  .pricing-h3 {
    font-size: 20px;
    padding-top: 20px;
  }
  .pricing-value {
    font-size: 44px;
  }
  .pricing-value sup {
    font-size: 22px;
  }
  .pricing-cards {
    gap: 25px;
  }
}

@media screen and (max-width: 711px) {
  .pricing-cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .pricing-h3 {
    font: normal 24px/36px "Roboto", sans-serif;
    margin-bottom: 20%;
    padding-top: 24px;
  }
  .pricing-value {
    font-size: 64px;
  }
  .pricing-value sup {
    font-size: 32px;
  }
  .pricing-footer {
    font-size: 16px;
  }
}

@media screen and (max-width: 597px) {
  #page-pricing {
    padding-top: 100px;
  }
  .pricing-h2 {
    font: bold 18px/27px "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }
  .pricing-h3 {
    font: bold 16px/1.5 "Roboto-Bold", sans-serif;
    margin-top: -6px;
    margin-bottom: 194px;
  }
  .pricing-cards {
    -ms-grid-columns: minmax(auto, 1fr);
        grid-template-columns: minmax(auto, 1fr);
    row-gap: 49px;
  }
  .pricing-footer {
    padding: 64px 0;
    font-size: 13.1px;
  }
}

.footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
}

.footer img {
  margin-right: 20px;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding-top: 62px;
  padding-bottom: 72px;
}

.footer-border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #cacaca;
}

.footer-title {
  font: bold 18px/27px "Roboto-Bold", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.footer-link {
  padding-left: 0;
  list-style: none;
}

.footer-link a {
  color: #E0E0E0;
}

.footer-link a:hover {
  color: #FFFFFF;
}

.footer-nav {
  padding-top: 40px;
  padding-bottom: 49px;
}

.footer-nav a {
  margin-right: 13px;
}

@media screen and (max-width: 849px) {
  .footer-grid {
    -ms-grid-columns: (minmax(auto, 1fr))[2];
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    row-gap: 30px;
  }
}

@media screen and (max-width: 597px) {
  .footer-grid {
    -ms-grid-columns: minmax(auto, 1fr);
        grid-template-columns: minmax(auto, 1fr);
  }
  .footer-nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(auto, 1fr);
        grid-template-columns: minmax(auto, 1fr);
    row-gap: 16px;
  }
}

.btn {
  display: inline-block;
  width: 100%;
  height: 66px;
  padding-top: 21px;
  padding-bottom: 21px;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
}

#page-news {
  padding-top: 96px;
  color: #fff;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 65px;
}

.news-item:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.news-item:last-child {
  margin-bottom: 0;
}

.news-h2 {
  font: bold 38px/57px "Roboto-Bold", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 48px;
}

.news-h3 {
  font: normal 30px/45px "Roboto", sans-serif;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.news-description {
  padding-bottom: 24px;
  font: normal 16px/1.5 "Roboto", sans-serif;
  font-size: 16px;
  color: #cacaca;
}

.news-footer p {
  color: #F89202;
  font-size: 12px;
}

.news-footer .date {
  color: #cacaca;
}

.news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  margin-bottom: 48px;
}

.news-author .news-avatar {
  width: 19px;
  height: 19px;
}

.news-btn {
  width: 135px;
  height: 53px;
  padding-top: 16px;
  color: #FFFFFF;
  font-size: 12.8px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .news-h3 {
    font-size: 25px;
    line-height: 10px;
  }
  .news-img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 50%;
  }
  .news-author {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 711px) {
  .news-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-img {
    width: 100%;
  }
  .news-h3 {
    font: normal 30px/45px "Roboto", sans-serif;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 597px) {
  .news-h2 {
    font: bold 18px/27px "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }
  .news-h3 {
    font: normal 16px/1.5 "Roboto", sans-serif;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 16px;
  }
  .news-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-img {
    width: 100%;
  }
}

#page-app {
  padding-top: 100px;
  padding-bottom: 100px;
}

.app-h2 {
  font: bold 38px/57px "Roboto-Bold", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 64px;
}

.page-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 144px;
          column-gap: 144px;
}

.page-app-content {
  width: 600px;
}

.content-second-p {
  padding-top: 16px;
}

.app-btn {
  width: 131px;
  height: 53px;
  margin-top: 16px;
  padding: 16px 40px;
  background-color: #95390C;
  border: none;
  border-radius: 32px;
  font-size: 12.8px;
  color: #FFFFFF;
}

.app-img {
  margin-top: -16px;
}

@media screen and (max-width: 845px) {
  .page-app {
    -webkit-column-gap: 100px;
            column-gap: 100px;
  }
}

@media screen and (max-width: 711px) {
  .page-app {
    -webkit-column-gap: 70px;
            column-gap: 70px;
  }
}

@media screen and (max-width: 597px) {
  .app-h2 {
    font: bold 18px/27px "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 48px;
  }
  .page-app {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-app-content {
    margin-top: 9px;
  }
  .app-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }
  .page-app-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.fs-11 {
  font-size: 11px;
}

.br-5 {
  border-radius: 5px;
}

.ttr-up {
  text-transform: uppercase;
}

.td-n {
  text-decoration: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-w {
  color: #FFFFFF;
}

.pb-17 {
  padding-bottom: 17px;
}
/*# sourceMappingURL=app.css.map */